.nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background: $grey;
    z-index: 300;

    @include device {
        width: 100%;
    }
}
.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.nav a,
.nav a:visited {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem;

    &:hover {
        text-decoration: underline;
    }
}

.nav__toggle {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background: transparent;
    color: $grey;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.nav__close {
    display: block;
    padding: 1rem;
    margin: auto 0 auto auto;
    background: transparent;
    color: $white;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}